<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Courses List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <style>
        body {
            background-color: #3e3e3e;
            color: #ffffff;
        }
    </style>
</head>
<body>
<div class="container jumbotron">
    <h1 style="color: #3e3e3e;">Courses</h1>
    <hr class="my-4">
    <p style="color: #3e3e3e;">Spring Home Page for Users</p>
    <form action="/login" method="get">
        <button class="btn btn-primary">Logout</button>
    </form>
</div>
</body>
</html>